.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh; 
  overflow: hidden; 
  margin-top: 2%;
}

.chat-area {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3%;
  width: 100%;
  max-height: calc(80vh - 40px); 
  overflow-y: auto; 
  margin: 2%;
  margin-top: -1%;
  font-size: medium;
}
.message-section {
  position: relative;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
  height: calc(100% - 40px); 
  overflow-y: auto;
  /* background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%); */
}

.belowheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
}

.roomname {
  margin: 2%;
  margin-left: 4%;
  font-weight: 650;
  font-size: larger;
}

.title-button {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  text-align: left;
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  color: white;
}

.good-message, .title-button.good-message {
  background: #dc2f2f;
  
}

.bad-message, .title-button.bad-message {
  background: #f70776;
}

.pos-message, .title-button.pos-message {
  background-color: #fda403;
}

.blunder-message, .title-button.blunder-message {
  background-color: #0c9cee
}

button {
  cursor: pointer;
}

.message-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message-text {
  margin-right: 10px;
  word-wrap: break-word; 
  width: calc(100% - 30px);
  margin-left: 5%;
  color: white;
}

.options-image {
  margin-left: auto;
}

.input-area {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 10px;
  
}

.textarea {
  flex-grow: 1;
  padding: 5px;
  resize: none;
  overflow-wrap: break-word;
  box-sizing: border-box;
  height: 40px; 

}

.send-button {
  padding: 5px 10px;
  background-color: rgb(22, 138, 22);
  color: white;
  margin-left: 5px;
  border-radius: 20px;
  background: linear-gradient(110.1deg, rgb(241, 115, 30) 18.9%, rgb(231, 29, 54) 90.7%);
}
